@import url('https://fonts.google.com/share?selection.family=Montserrat:wght@600');

body{
	background-color: purple;
	font-family: Montserrat;
	padding: 0;
	margin: 0;
    color: white;
}

* {
    box-sizing: border-box;
}

#Intro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    flex-direction: column;
}

.row{
    flex-direction: row;
    justify-content: space-around;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

.logo{
    margin: 0 auto;
    
    -webkit-filter: drop-shadow(1px 1px 1px #222 );
    filter: drop-shadow(1px 1px 1px #222);
}

.text{
    text-align: center;
}

.italique{
    font-style: italic;
}

#qui{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;

    flex-direction: column;
}

#reseaux{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;

    flex-direction: column;
}

/* Taille Ecran Ordinateur 
@media (min-width: 1024px){

}*/

/* Taille Tablette */
@media screen and (min-width: 601px) and (max-width: 1024px){

    body{
        background-color: #5e15e6;
    }


}

/* Taille Téléphone */
@media screen and (max-width: 600px){

    body{
        background-color: #ca0d0d;
    }


}